html, body {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    background-color: #fff4e6;
    color: #481d07;
    padding-top: 72px;
}

.confirm-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.confirm-card-body {
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.navbar {
    background: linear-gradient(to right, #ff8181, #ffc837); !important;
    padding: 0.6rem 1rem;
}

.bg-light {
    background-color: #fb9655;
    !important;
}

.navbar-light {
    background-color: #ffeadb;
}

.navbar-brand {
    color: #ffffff;
}

.nav-item {
    margin: 0 0.5rem;
}

.nav-link.active, .nav-link:focus {
    border-bottom: 2px solid #fff;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #ffdabf;
}

.navbar-toggle {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.ql-container {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    background-color: #fff7ef;
}

.ql-editor {
    background-color: #fff7ef;
    border-radius: 3px;
    min-height: 100px;
    height: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

@media (max-width: 992px) {
    .navbar-toggle {
        display: block;
        padding: 0.25rem 0.75rem;
        margin-left: 0.5rem;
        cursor: pointer;
    }
    .navbar-toggle-icon {
        background-color: #fdf6e4;
    }
}

.btn-primary, .navbar-nav .nav-link {
    transition: all 0.3s ease;
}

.btn-primary:hover, .navbar-nav .nav-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.btn-primary {
    background-color: #f9aa33;
    border-color: #f9aa33;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #e69520;
    border-color: #e69520;
}

.btn-link {
    color: #481d07;
}

.btn-link:hover {
    color: #f9aa33;
}


.btn-secondary {
    color: #fff;
    background-color: #ff5517;
    border-color: #ff5517;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #f90700;
    border-color: #f90700;
}

.btn-info {
    background-color: #eb802d;
    border: none;
}

.btn {
    border-radius: 20px;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.9);
    color: #5a2c01;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.editor-container {
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffefd5;
    border: 1px solid #f9aa33;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card {
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    background-color: #fff7ef;
    transition: transform .2s;
}
/*
.card:hover {
    transform: scale(1.02);
}
*/
.card-header {
    background-color: #feedd3;
}

.card-body {
    background-color: #fff3ef;
}

.card .card-title a {
    color: #ff4821;
    text-decoration: none;
}

.card .card-title a:hover {
    color: #fb9655;
}

.card .card-text {
    color: #5a2c01;
}

.my-toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1050;
}

.alert {
    pointer-events: auto;
    min-width: 250px;
    margin-top: 0.5rem;
    color: #fff;
    border-radius: 0.375rem;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
}

.alert-success {
    background-color: #FFC837FF;
    color: #481d07;
    border-radius: 0.5rem;
    border: 1px solid #f7ba0f;
}

.alert-danger {
    background-color: #dc3545;
}

.error {
    color: #dc3545;
    margin-bottom: 15px;
}


a {
    color: #f75431;
}

a:hover {
    color: #fb9655;
    text-decoration: underline;
}

.page-link{
    color: #f9aa33;
}

.page-link:hover{
    color: #e39624;
}

.page-item.active .page-link {
    background-color: #f9aa33;
    border-color: #f9aa33;
}

.error-container {
    margin-top: 50px;
    text-align: center;
}

.body-blur {
    filter: blur(5px);
}

.loading-spinner-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    align-items: center;
    justify-content: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 9999;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.article-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.autoSave-controller a {
    margin-right: 8px;
    color: #333;
    font-weight: bold;
    line-height: 1;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0 0.5rem;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-switch input:checked + .switch-slider {
    background-color: #ffac31;
}

.toggle-switch input:checked + .switch-slider:before {
    transform: translateX(26px);
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}






