body {
    min-height: 100%;
    background-color: #f7f8fa;
    background-image: url('/images/indexBackground.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: scroll;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
html {
    height: 100%;
}
.editor-container {
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffefd5;
    border: 1px solid #f9aa33;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
