.form-header {
    text-align: center;
    margin-bottom: 20px;
    color: #481d07;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.btn
{
    color: #282828;
}
.container {
    max-width: 520px;
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ff740045;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.form-control {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .password-card {
        max-width: 600px;
    }
}

.password-card {
    position: fixed;
    left: 18%;
    top: 30%;
    width: 20%; padding: 10px;
    transform: translate(-50%, -50%);
    max-width: 90%;
    background-color: #ffeacf;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

.password-card h4 {
    margin-top: 0;
    text-align: center;
    background-color: #ffeacf;
    border-bottom: 1px solid #ffeacf;
    padding: 8px 0;
}

.password-card ul {
    list-style-type: none; /* 移除列表項前的項符 */
    padding: 0; /* 移除預設內距 */
}

.password-card li {
    color: red; /* 默認紅色表示規則未符合 */
    margin: 8px 0; /* 列表項之間的間距 */
}

.password-card li.valid {
    color: green; /* 符合規則時的顏色 */
}

.correct {
    display: inline-block;
    width: 10px;
    height: 3px;
    background: #008100;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
}

.correct:after {
    content: '/';
    display: block;
    width: 20px;
    height: 3px;
    background: #008100;
    -webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
}

.incorrect {
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #ff0000;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
}

.incorrect:after {
    content: '/';
    display: block;
    width: 22px;
    height: 3px;
    background: #ff0000;
    -webkit-transform: rotate(270deg);
}

.status {
    margin-left: 5px;
    margin-right: 20px;
    display: inline-block;

    background-size: contain;
    background-repeat: no-repeat;

}