<!DOCTYPE html>
<html lang="zh" th:with="userLoggedIn=${session.currentUsername != null}">
<div id="myElement" th:attr="data-post-id=${post.getArticleId}"></div>


<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">文章標題</title>
    <!-- 加入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
    <link rel="stylesheet" href="/common.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <style>
        #editor {
            background-color: #ffffff;
            border-radius: 3px;
            min-height: 100px;
            height: auto;
        }
    </style>
    <!-- 其他的head內容 -->
</head>


<body>
<!-- Navbar等其他內容 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                </div>




            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/login">登入</a>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/register">註冊</a>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 文章內容 -->
<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-top">
            <div>
                <h1 class="card-title" th:text="${post.title}">文章標題</h1>
                <a class="card-subtitle mb-2 text-muted" th:text="|發表時間: ${post.getCreation_time} |">發表時間</a>
                <br>
                <a class="card-subtitle mb-2 text-muted" th:text="|作者: ${post.author.username} |" th:href="@{/user/{id}(id=${post.author.getId()})}">作者名稱</a>
            </div>

            <div th:if="${session.currentUserId == post.author.getId()}">
                <a th:href="@{/article/{articleId}/edit(articleId=${post.getArticleId()})}" class="btn btn-primary">編輯文章</a>
            </div>
        </div>
        <div class="card-body">
            <div id="content-display" class="content-quill-container mb-4" style="background-color: #ffefe6; border-radius: 10px; padding: 20px;" th:attr="data-post-id=${post.getArticleId}">
                <script>
                    document.addEventListener('DOMContentLoaded', function() {

                        let BlockEmbed = Quill.import('blots/block/embed');

                        class ImageBlot extends BlockEmbed {
                            static create(value) {
                                let node = super.create();
                                node.setAttribute('src', value.url); // 設置圖片的src属性
                                if(value.id) {
                                    node.setAttribute('id', value.id); // 設置圖片的id屬性
                                }
                                return node;
                            }

                            static value(node) {
                                return {
                                    url: node.getAttribute('src'),
                                    id: node.getAttribute('id')
                                };
                            }
                        }

                        ImageBlot.blotName = 'customImage'; // 使用 customImage 作為Blot名稱避免與內建圖片Blot名稱衝突
                        ImageBlot.tagName = 'img'; // 自定義Blot的tagName為img

                        Quill.register(ImageBlot);

                        var contentDisplay = document.getElementById('content-display');
                        var postID = contentDisplay.getAttribute('data-post-id');

                        fetch('/article/' + postID + '/content')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('網路回應錯誤.');
                                }
                                return response.json();
                            })
                            .then(result => {
                                if (result) { // 确保result包含contentDelta
                                    const contentDisplay = document.getElementById('content-display');
                                    const contentQuill = new Quill(contentDisplay, { // 使用 'content-display' 的ID
                                        modules: {
                                            toolbar: false // 关闭工具栏，因为是只读的
                                        },
                                        readOnly: true,
                                        theme: 'snow'
                                    });
                                    // 设置Quill的内容
                                    contentQuill.setContents(result.delta);
                                    // 使用result.contentDelta
                                } else {
                                    showToast("無法讀取文章內容。", false);
                                }
                            })
                            .catch(error => {
                                console.error('發生錯誤，無法讀取文章內容:', error);
                                showToast("發生錯誤，無法讀取文章內容。", false);
                            });
                    });
                </script>
            </div>
        </div>
    </div>

    <hr>
    <h2>評論區</h2>
    <div id="comments-display" class="comment-quill-container mb-4" style="background-color: #ffefe6; border-radius: 10px; padding: 20px;" th:attr="postID=${post.getArticleId}">

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var myElement = document.getElementById('myElement');
                var postID = myElement.getAttribute('data-post-id');
                var commentsDisplay = document.getElementById('comments-display');

                fetch('/article/' + postID + '/comment')
                    .then(response => response.json())
                    .then(commentDeltas => {
                        commentDeltas.forEach(commentDelta => {
                            // 為每條評論創建一個新的 div 容器
                            var commentDiv = document.createElement('div');
                            // 可能還需要給這個新的 div 設定樣式或類別
                            commentsDisplay.appendChild(commentDiv); // 將新的 div 加到 commentsDisplay 中

                            const singleCommentQuill = new Quill(commentDiv, { // 將 Quill 綁定到新的 div 上
                                modules: {
                                    toolbar: false // 關閉工具欄，因為是只讀的
                                },
                                readOnly: true,
                                theme: 'snow'
                            });
                            // 設定Quill的內容
                            singleCommentQuill.setContents(commentDelta);
                        });
                    }).catch(error => console.error('Error loading comments:', error)
                );
            });
        </script>
    </div>



    <div class="editor-container">
        <div id="toolbar-container">
            <span class="ql-formats">
                <select class="ql-font"></select>
                <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-header" value="1"></button>
                <button class="ql-header" value="2"></button>
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-direction" value="rtl"></button>
                <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-video"></button>
                <button class="ql-formula"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-clean"></button>
            </span>
        </div>

        <div id="editor">
            <script>
                const quill = new Quill('#editor', {
                    modules: {
                        syntax: true,
                        toolbar: {
                            container: '#toolbar-container',
                            handlers: {
                                'image': function(value) {
                                    if (value) {
                                        var Element = document.getElementById('myElement');
                                        var postID = Element.getAttribute('data-post-id');
                                        selectLocalImage(postID);
                                    } else {
                                        this.quill.format('image', false);
                                    }
                                }
                            }
                        },
                    },
                    theme: 'snow',
                });
            </script>
        </div>
    </div>
    <button class="btn btn-primary" id="save-comment-button" th:attr="postID=${post.getArticleId}">保存</button>

</div>
<script>


    var globalImageUrl = null;


    function showToast(message, isSuccess) {
        const toastContainer = document.querySelector('.my-toast-container');
        const toastClass = isSuccess ? 'alert-success' : 'alert-danger';
        const toastElement = document.createElement('div');
        toastElement.classList.add('alert', toastClass);
        toastElement.textContent = message;

        toastContainer.appendChild(toastElement);
        setTimeout(() => toastElement.remove(), 5000);
    }
    function selectLocalImage(postID) {
        const input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.click();
        input.onchange = () => {
            const file = input.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('image', file);
                fetch('/article/' + postID + '/comment/image', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }else {
                            return response.json().then(data => {
                                throw new Error(data.message);
                            });
                        }
                    }).then(result => {
                    // 插入圖片到Quill編輯器
                    const range = quill.getSelection();
                    globalImageUrl = result.imageUrl;
                    quill.insertEmbed(range.index, 'image', globalImageUrl);
                }).catch((error) => {
                    showToast("圖片上傳失敗: " + error.message, false);
                });
            }
        };
    }











    document.getElementById('save-comment-button').addEventListener('click', function() {
        const editorContent = quill.getContents();
        console.log(editorContent);
        var postID = this.getAttribute('postID');
        const postUrl = '/article/' + postID + '/comment';

        fetch(postUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                delta: editorContent
            })
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }else {
                    return response.json().then(data => {
                        throw new Error(data.message);
                    });
                }
            })
            .then(data =>{
                showToast("評論發表成功", true);
                setTimeout(() => window.location.reload(), 6000);

            })
            .catch((error) => {
                showToast("評論發表失敗: " + error.message, false);
            });

    });
</script>
<br>
<div class="my-toast-container" aria-live="polite" style="position: fixed; bottom: 0; right: 0; z-index: 1050;"></div>
</body>
</html>