<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:with="userLoggedIn=${session.currentUsername != null}">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/common.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>

    <style>
        .fixed-bottom-nav {
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
            width: auto;
            background-color: rgba(255, 255, 255, 0);
            z-index: 1030;
            text-align: center;
        }

        .pagination {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding-left: 0;
        }

        .pagination .page-item {
            margin: 0 5px;
        }

        .pagination .page-item .page-link {
            font-size: larger;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #e39624">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" href="/search">搜尋</a>
            </li>

            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                    <a class="dropdown-item" th:href="@{/user/{id} (id=${session.currentUserId})}">我的主頁</a>
                </div>
            </li>

            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/login">登入</a>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/register">註冊</a>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>



<div class="container mt-4">
    <h2 class="mb-4 text-center">文章列表</h2>
    <div class="row">
        <th:block th:each="post,iterStat : ${posts.content}">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:if="${post.isDeleted}" th:text="'已刪除文章'">已刪除文章</h5>
                        <h5 class="card-title" th:unless="${post.isDeleted}" th:text="${post.title.length() > 30 ? #strings.substring(post.title, 0, 30) + '...' : post.title}">文章標題</h5>
                        <!--<p class="card-text" th:text="${post.content.length() > 100 ? #strings.substring(post.content, 0, 100) + '...' : post.content}">一些簡短的介紹文字...</p>-->
                        <p class="card-text" th:text="'創建時間: '+${formattedPostCreationTimes[iterStat.index]}" style="margin-top: 0;margin-bottom: 0;"></p>
                        <p class="card-text" th:text="'最後更新: '+${formattedPostUpdateTimes[iterStat.index]}" style="margin-top: 0;margin-bottom: 0;"></p>
                        <a target="_blank" th:if="!${post.isDeleted}" th:href="@{/article/{id}(id=${post.articleId})}" class="btn btn-primary">閱讀全文 <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>


    <nav aria-label="文章分頁" th:if="${totalPages > 1}" class="mt-4 fixed-bottom-nav ">
        <ul class="pagination justify-content-center">
            <!-- 跳至首頁 -->
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/article(page=1)}" aria-label="First" th:if="${page > 1}">
                    <span aria-hidden="true">««</span>
                </a>
            </li>

            <!-- 前一頁 -->
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/article(page=${page - 1})}" aria-label="Previous" th:if="${page > 1}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- 分頁號碼 -->
            <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:class="page-item"
                th:classappend="${page eq i} ? 'active'"
                th:if="${(totalPages le 10) or (i ge (page - 4) and i le (page + 5)) or (totalPages - page lt 5 and i gt totalPages - 10)}"
            >
                <a class="page-link" th:href="@{/article(page=${i})}" th:text="${i}">1</a>
            </li>

            <!-- 下一頁 -->
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/article(page=${page + 1})}" aria-label="Next" th:if="${page < totalPages}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

            <!-- 跳至尾頁 -->
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/article(page=${totalPages})}" aria-label="Last" th:if="${page < totalPages}">
                    <span aria-hidden="true">»»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>