<!DOCTYPE html>
<html lang="zh" th:with="userLoggedIn=${session.currentUsername != null}">
<div id="myElement" th:attr="data-post-id=${post.getArticleId}"></div>
<head>
    <meta charset="UTF-8">
    <title>編輯文章</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
    <link rel="stylesheet" href="/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search">搜尋</a>
            </li>
            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <!-- 使用 data-bs-toggle 而不是 data-toggle -->
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                </div>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>

<br><br><br>
<div class="container">
    <h2>編輯文章</h2>
    <form action="#" method="post" th:action="@{/article/{articleId}/edit(articleId=${post.articleId})}" th:object="${post}" >
        <div class="form-group">
            <label for="title">標題:</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}">
        </div>
        <h6>文章內容:</h6>
        <div class="editor-container">
            <div id="toolbar-container">
                <span class="ql-formats">
                    <select class="ql-font"></select>
                    <select class="ql-size"></select>
                </span>
                    <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                </span>
                    <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span>
                    <span class="ql-formats">
                    <button class="ql-script" value="sub"></button>
                    <button class="ql-script" value="super"></button>
                </span>
                    <span class="ql-formats">
                    <button class="ql-header" value="1"></button>
                    <button class="ql-header" value="2"></button>
                    <button class="ql-blockquote"></button>
                    <button class="ql-code-block"></button>
                </span>
                    <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                </span>
                    <span class="ql-formats">
                    <button class="ql-direction" value="rtl"></button>
                    <select class="ql-align"></select>
                </span>
                    <span class="ql-formats">
                    <button class="ql-link"></button>
                    <button class="ql-image"></button>
                    <button class="ql-video"></button>
                    <button class="ql-formula"></button>
                </span>
                    <span class="ql-formats">
                    <button class="ql-clean"></button>
                </span>
            </div>
            <div id="editor"></div>
        </div>

        <button type="submit" class="btn btn-primary" id="save-article-button">更新</button>
        <a href="/" class="btn btn-secondary">取消</a>
    </form>
</div>


<script>
    var myElement = document.getElementById('myElement');
    var postID = myElement.getAttribute('data-post-id');
    var globalFile = null;

    document.addEventListener('DOMContentLoaded', function() {
        const quill = new Quill('#editor', {
            modules: {
                syntax: true,
                toolbar: {
                    container: '#toolbar-container',
                    handlers: {
                        'image': function(value) {
                            if (value) {
                                selectLocalImage();
                            } else {
                                this.quill.format('image', false);
                            }
                        }
                    }
                },
            },
            theme: 'snow',
        });



        fetch('/article/' + postID + '/content')
            .then(response => {
                if (!response.ok) {
                    throw new Error('網路回應錯誤.');
                }
                return response.json();
            })
            .then(result => {
                if (result && result.hasOwnProperty('delta')) {
                    quill.setContents(result.delta);
                }
            })
            .catch(error => {
                console.error('發生錯誤，無法讀取文章內容:', error);
                showToast("發生錯誤，無法讀取文章內容。", false);
            });
        quill.getModule('toolbar').addHandler('image', selectLocalImage);



    function showToast(message, isSuccess) {
        const toastContainer = document.querySelector('.my-toast-container');
        const toastClass = isSuccess ? 'alert-success' : 'alert-danger';
        const toastElement = document.createElement('div');
        toastElement.classList.add('alert', toastClass);
        toastElement.textContent = message;

        toastContainer.appendChild(toastElement);
        setTimeout(() => toastElement.remove(), 5000);
    }

    function editArticle(){
        if (postID) {
            if (globalFile) {
                uploadImageFunction(globalFile, postID)
                    .then(imageUrl => {
                        saveArticleContent(postID, quill.getContents(), imageUrl);
                    });
            } else {
                saveArticleContent(postID, quill.getContents());
            }
        } else {
            showToast("無法更新文章。", false);
        }
    }


    function uploadImageFunction(file, articleId) {
        let formData = new FormData();
        formData.append('image', file);
        formData.append('articleId', articleId);

        return fetch('/new_article/image', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(result => {
                if (result.imageUrl) {
                    return result.imageUrl; // 返回服務器存儲的圖片URL
                } else {
                    showToast("圖片上傳失敗。", false);
                    return null;
                }
            })
            .catch(error => {
                showToast("圖片上傳失敗: " + error.message, false);
                return null;
            });
    }

    function saveArticleContent(articleId, content, imageUrl) {
        // 創建帶有圖片URL的新內容
        const updatedContent = content.map(op => {
            if (op.insert && op.insert.image && op.insert.image.startsWith('data:')) {
                return { insert: {image: imageUrl}};
            }
            return op;
        });
        const titleData = document.getElementById('title').value;




        fetch(`/new_article/${articleId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: titleData,
                delta: updatedContent
            })

        })
            .then(response => response.json())
            .then(result => {
                if (result.message === "文章保存成功") {
                    showToast("文章保存成功。", true);
                    //setTimeout(() => location.reload() , 6000);
                } else {
                    showToast(result.error, false);
                }
            })
            .catch(error => {
                showToast("文章保存失敗: " + error.message, false);
            });
    }

    document.getElementById('save-article-button').addEventListener('click', function(event) {
        event.preventDefault();
        editArticle();
    });

    function selectLocalImage() {
        const input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.click(); // 觸發文件選擇
        input.onchange = () => {
            const file = input.files[0];
            if (file && file.type.includes('image')) {
                globalFile = file; // 儲存參考到全局變量
                const reader = new FileReader();
                reader.onload = e => {
                    const imgSrc = e.target.result; // 獲得DataURL
                    insertToEditor(imgSrc); // 調用插入函數
                };
                reader.readAsDataURL(file); // 讀取文件
            }
        };
    }


    function insertToEditor(url) {
        const range = quill.getSelection();
        if (range) {
            quill.insertEmbed(range.index, 'image', url); // 使用DataURL作為預覽
        }
    }
    });
</script>
<div class="my-toast-container" aria-live="polite" style="position: fixed; bottom: 0; right: 0; z-index: 1050;"></div>
<br>
</body>
</html>