<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>出錯了！</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .error-container {
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container error-container">
    <h1>哎呀！出錯了！</h1>
    <p>在處理您的請求時我們遇到了一些問題。請嘗試再次提交，或者稍後再試。</p>
    <p>如果問題依然存在，請告知系統管理員：<a href="mailto:tommot20077@gmail.com">tommot20077@gmail.com</a></p>
    <a href="/" class="btn btn-primary">返回首頁</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>