<!DOCTYPE html>
<html lang="zh" th:with="userLoggedIn=${session.currentUsername != null}">
<head>
    <meta charset="UTF-8">
    <title>出錯了！</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .btn-danger {
            background-color: #b83434;
        }
    </style>
    <link rel="stylesheet" href="/common.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" href="/search">搜尋</a>
            </li>

            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                    <a class="dropdown-item" th:href="@{/user/{id} (id=${session.currentUserId})}">我的主頁</a>
                </div>
            </li>

            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/login">登入</a>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/register">註冊</a>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container error-container">
    <div class="jumbotron shadow p-4 rounded">
        <h1 class="display-4"><i class="fas fa-exclamation-triangle text-danger"></i> 哎呀！出錯了！</h1>
        <p class="lead">在處理您的請求時我們遇到了一些問題。請嘗試再次提交，或者稍後再試。</p>
        <hr class="my-4">
        <p>如果問題依然存在，請透過以下方式告知系統管理員：</p>
        <a class="btn btn-danger btn-lg" href="mailto:tommot20077@gmail.com" role="button">聯絡管理員</a>
        <a class="btn btn-secondary btn-lg ml-2" href="/" role="button">返回首頁</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Font Awesome 的CDN链接，用于图标显示 -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>