<!DOCTYPE html >
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登入成功</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    <h1>歡迎回來！</h1>
    <p>登入成功，現在您可以開始使用我們的服務了。</p>
    <div th:if="${session.currentUserEmailStatus}">
        <p>已驗證信箱，現在可以使用進階服務</p>
    </div>
    <div th:if="${!session.currentUserEmailStatus}">
        <p>請驗證信箱，以使用進階服務</p>
    </div>
    <a href="/" class="btn btn-primary">進入主頁</a>



</div>
</body>
</html>