<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登入頁面</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .error {
            color: red;
        }
    </style>
    <!-- 上述的CSS樣式可以直接套用 -->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br><br><br>
<div class="container">
    <h2 class="form-header">登入</h2>
    <form method="post" action="#" th:action="@{/login}" th:object="${user}">
        <div class="form-group">
            <label for="username">用戶名:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required />
        </div>

        <div class="form-group">
            <label for="password">密碼:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required />
        </div>
        <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>
        <div class="form-footer">
            <input type="submit" class="btn btn-primary" value="登入" />
            <a href="/register" class="btn btn-link">註冊新帳號</a>
            <a href="/reset_password" class="btn btn-link">忘記密碼</a>
        </div>

    </form>
</div>
</body>
</html>