<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>文章發布成功</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>

</nav>
<br><br>
<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">文章添加成功！</h4>
        <p>你的文章已經成功發布到網站上。</p>
        <hr>
        <p class="mb-0">點擊下方按鈕返回首頁或者繼續添加新的文章</p>
    </div>
    <a href="/" class="btn btn-primary">返回首頁</a>
    <a href="/new_article" class="btn btn-secondary btn-primary">新增新文章</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>