<!DOCTYPE html>
<html lang="zh" th:with="userLoggedIn=${session.currentUsername != null}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>新增文章</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
    <link rel="stylesheet" href="/common.css">
    <style>
        .btn-secondary:hover {
            color: #fff;
            background-color: #f75431;
            border-color: #f75431;
        }
        h2 {
            margin-bottom: 1.5rem;
        }
        .editor-container {
            margin-top: 1rem;
        }
        #toolbar-container {
            background-color: #feedd3;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .ql-toolbar.ql-snow .ql-picker-label:hover,
        .ql-toolbar.ql-snow .ql-picker-item:hover,
        .ql-toolbar.ql-snow button:hover,
        .ql-toolbar.ql-snow button:focus,
        .ql-toolbar.ql-snow button.ql-active,
        .ql-toolbar.ql-snow .ql-picker-label.ql-active,
        .ql-toolbar.ql-snow .ql-picker-item.ql-selected {
            color: #f75431;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" href="/search">搜尋</a>
            </li>

            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                    <a class="dropdown-item" th:href="@{/user/{id} (id=${session.currentUserId})}">我的主頁</a>
                </div>
            </li>

            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/login">登入</a>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/register">註冊</a>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>
<br><br><br>
<div class="container">
    <h2>發表新文章</h2>
    <form action="#" method="post" th:action="@{/new_article}" th:object="${post}" >
    <div class="form-group">
      <label for="title">標題:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
        <h6>文章內容:</h6>
        <div class="editor-container">
            <div id="toolbar-container">
            <span class="ql-formats">
                <select class="ql-font"></select>
                <select class="ql-size"></select>
            </span>
                <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
                <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
                <span class="ql-formats">
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
            </span>
                <span class="ql-formats">
                <button class="ql-header" value="1"></button>
                <button class="ql-header" value="2"></button>
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
            </span>
                <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
            </span>
                <span class="ql-formats">
                <button class="ql-direction" value="rtl"></button>
                <select class="ql-align"></select>
            </span>
                <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-video"></button>
                <button class="ql-formula"></button>
            </span>
                <span class="ql-formats">
                <button class="ql-clean"></button>
            </span>
            </div>

            <div id="editor">
                <script>
                    const quill = new Quill('#editor', {
                        modules: {
                            syntax: true,
                            toolbar: {
                                container: '#toolbar-container',
                                handlers: {
                                    'image': function(value) {
                                        if (value) {
                                            selectLocalImage();
                                        } else {
                                            this.quill.format('image', false);
                                        }
                                    }
                                }
                            },
                        },
                        theme: 'snow',
                    });
                </script>
            </div>
        </div>

    <button class="btn btn-primary" id="save-article-button">提交</button>
        <a href="/" class="btn btn-secondary">取消</a>
    </form>
</div>


<script>
    function showToast(message, isSuccess) {
        const toastContainer = document.querySelector('.my-toast-container');
        const toastClass = isSuccess ? 'alert-success' : 'alert-danger';
        const toastElement = document.createElement('div');
        toastElement.classList.add('alert', toastClass);
        toastElement.textContent = message;
        toastContainer.appendChild(toastElement);
        setTimeout(() => toastElement.remove(), 5000);
    }

    var selectedImageFiles = [];
    function initiateArticleCreation() {
        createEmptyArticle().then(articleId => {
            if (articleId) {
                if (selectedImageFiles.length > 0) {
                    Promise.all(selectedImageFiles.map(file => uploadImageFunction(file, articleId)))
                        .then((imageUrl) => {
                            const validUrls = imageUrl.filter(url => url);
                            saveArticleContent(articleId, quill.getContents(), validUrls);
                        });
                } else {
                    saveArticleContent(articleId, quill.getContents());
                }
            } else {
                hideSpinner();
                showToast("無法創建新文章。", false);
            }
        });
    }

    function createEmptyArticle() {
        return fetch('/new_article', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(result => {
                if (result.message === "文章建立成功") {
                    return result.articleId;
                }
            })
            .catch(error => {
                hideSpinner();
                showToast("創建文章出錯: " + error.message, false);
                return null;
            });
    }


    function uploadImageFunction(file, articleId) {
        let formData = new FormData();


        formData.append('image', file);
        formData.append('articleId', articleId);

        return fetch('/new_article/image', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(result => {
                if (result.url && result.originalName) {
                    return result;
                } else {
                    hideSpinner();
                    showToast("圖片上傳失敗。", false);
                    return null;
                }
            })
            .catch(error => {
                hideSpinner();
                showToast("圖片上傳失敗: " + error.message, false);
                return null;
            });
    }

    function saveArticleContent(articleId, content, imageResults = []) {
        const imageUrlMap = new Map();
        imageResults.forEach((imageResult) => {
            if (imageResult && imageResult.originalName && imageResult.url) {
                imageUrlMap.set('image-' + imageResult.originalName, imageResult.url);
            }
        });

        const updatedOps = content.ops.map(op => {
            var fileName;
            if (op.insert && typeof op.insert === 'object' && op.insert.customImage && op.insert.customImage.id) {
                fileName = op.insert.customImage.id;
                for (let [key, value] of imageUrlMap) {
                    console.log(key + ' = ' + value);
                }
                if (imageUrlMap.has(fileName)) {
                    op.insert.customImage.url = imageUrlMap.get(fileName);
                }
            }
            return op;
        });
        fetch(`/new_article/${articleId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: document.getElementById('title').value,
                delta: updatedOps // 替换content的ops
            })
        })
            .then(response => response.json())
            .then(result => {
                if (result.message === "文章保存成功") {
                    hideSpinner();
                    showToast("文章保存成功。", true);
                    setTimeout(() => window.location.href = `/new_article_success`, 6000);
                } else {
                    hideSpinner();
                    showToast(result.error, false);
                }
            })
            .catch(error => {
                hideSpinner();
                showToast("文章保存失敗: " + error.message, false);
            });
    }

    document.getElementById('save-article-button').addEventListener('click', function(event) {
        showSpinner();
        event.preventDefault();
        initiateArticleCreation();
    });

    function selectLocalImage() {
        const input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('multiple', 'true');
        input.click();
        input.onchange = () => {
            Array.from(input.files).forEach(file => {
                if (file && file.type.includes('image')) {
                    selectedImageFiles.push(file);
                    const reader = new FileReader();
                    reader.onload = e => {
                        const imgSrc = e.target.result;
                        insertToEditor(imgSrc, file);
                    };
                    reader.readAsDataURL(file);
                }
            });
        };
    }




    let BlockEmbed = Quill.import('blots/block/embed');

    class ImageBlot extends BlockEmbed {
        static create(value) {
            let node = super.create();
            node.setAttribute('src', value.url);
            if(value.id) {
                node.setAttribute('id', value.id);
            }
            return node;
        }

        static value(node) {
            return {
                url: node.getAttribute('src'),
                id: node.getAttribute('id')
            };
        }
    }

    ImageBlot.blotName = 'customImage';
    ImageBlot.tagName = 'img';

    Quill.register(ImageBlot);


    function insertToEditor(url, file) {
        var fileId = "image-" + file.name;
        const range = quill.getSelection(true);
        if (range) {
            quill.insertEmbed(range.index, 'customImage', { url: url, id: fileId }, Quill.sources.USER);
        }
    }
    function updateSelectedImagesAfterDelete(deletedIndex) {
        let fileToDelete = selectedImageFiles.find(file => `image-${file.name}` === deletedIndex);
        if (fileToDelete) {
            let indexToDelete = selectedImageFiles.indexOf(fileToDelete);
            if (indexToDelete > -1) {
                selectedImageFiles.splice(indexToDelete, 1);
            }
        }
    }

    quill.on('text-change', (delta, oldDelta, source) => {
        if (source === 'user') {
            delta.ops.forEach((op) => {
                if (op.delete) {
                    const contents = quill.getContents().ops;
                    let deletedImageId = null;

                    contents.forEach((op) => {
                        if (op.insert && op.insert.image && op.attributes && op.attributes.id) {
                            deletedImageId = op.attributes.id;
                        }
                    });

                    if (deletedImageId) {
                        updateSelectedImagesAfterDelete(deletedImageId);
                    }
                }
            });
        }
    });
    quill.getModule('toolbar').addHandler('image', selectLocalImage);

    document.addEventListener('DOMContentLoaded', () => {
        hideSpinner();
    });
    function showSpinner() {
        //document.querySelector('body').classList.add("body-blur")
        document.getElementById('loading-spinner').style.display = 'flex';
    }
    function hideSpinner() {
        //document.querySelector('body').classList.remove("body-blur")
        document.getElementById('loading-spinner').style.display = 'none';
    }

</script>
<div class="my-toast-container" aria-live="polite" style="position: fixed; bottom: 0; right: 0; z-index: 1050;"></div>
<div id="loading-spinner" class="loading-spinner-container">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>