<!DOCTYPE html>
<html lang="zh" th:with="userLoggedIn=${session.currentUsername != null}">
<head>
    <meta charset="UTF-8">
    <title>更新資料</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/password-card.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 400px;
            margin-top: 50px;
            padding: 20px;
            background-color: #fff7ef;
            border: 1px solid #f9aa33;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
        }
        .form-group label {
            color: #481d07;
        }
        .error, .alert {
            color: #dc3545;
            border-color: #dc3545;
        }
        .btn-primary, .btn-secondary {
            margin-top: 10px;
        }
        .btn-secondary {
            background-color: #ff551a;
        }
        .btn-secondary:hover {
            background-color: #ff1b1b;
            border-color: #ff1b1b;
            color: #f9f9f9;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search">搜尋</a>
            </li>
            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                    <a class="dropdown-item" th:href="@{/user/{id} (id=${session.currentUserId})}">我的主頁</a>
                </div>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/login">登入</a>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/register">註冊</a>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div th:if="${!session.currentUserEmailStatus}">
        <h1>更新個人資料  (未驗證信箱)</h1>
    </div>
    <div th:if="${session.currentUserEmailStatus}">
        <h1>更新個人資料  (已驗證信箱)</h1>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic">一般設定</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="important-tab" data-toggle="tab" href="#important">重要設定</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="basic">
            <form th:action="@{/basicProfile}" th:object="${user}" method="post">
                <br>
                <div class="form-group">
                    <label for="birthdate">生日</label>
                    <input type="date" class="form-control" id="birthdate" th:field="*{birthdate}" >
                </div>
                <div class="form-group">
                    <label for="timezone">用戶時區</label>
                    <select id="timezone" class="form-control" th:field="*{timezone}">
                        <th:block th:each="timezone : ${timezones}">
                            <option th:value="${timezone}" th:text="${timezone}" th:selected="${timezone == user.timezone}"></option>
                        </th:block>
                    </select>
                </div>

                <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>
                <div th:if="${success}">
                    <div th:attr="data-success=${success}" class="alert alert-success" role="alert" id="baseSuccessMessage">
                        <span th:text="${success}"></span>
                    </div>
                </div>
                <button id="save-base-button" type="submit" class="btn btn-primary">更新</button>
                <a href="/" class="btn btn-secondary">回到首頁</a>
            </form>
        </div>
        <div class="tab-pane fade" id="important">
            <form th:action="@{/importantProfile}" th:object="${user}" method="post">
                <br>
                <div class="form-group">
                    <label for="originPassword">原本密碼</label>
                    <input type="password" class="form-control" id="originPassword" name="originPassword" required>
                </div>
                <div class="form-group">
                    <label for="username">更換使用者名稱</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}">
                </div>
                <div class="form-group">
                    <label for="password">更換密碼</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">重複更換密碼</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
                </div>

                <div class="form-group">
                    <label for="email">更新Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                </div>
                <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>
                <div th:if="${success}">
                    <div th:attr="data-success=${success}" class="alert alert-success" role="alert" id="successMessage">
                        <span th:text="${success}"></span>
                    </div>
                </div>
                <button id="save-important-button" type="submit" class="btn btn-primary">更新後登出</button>
                <a href="/" class="btn btn-secondary">回到首頁</a>
            </form>
        </div>
    </div>
</div>

<div id="password-rule" class="password-card" style="display: none">
    <h4>密碼規則</h4>
    <ul>
        <li id="rule-length"><span class="status"></span>密碼長度必須至少 8 個字元</li>
        <li id="rule-upper"><span class="status"></span>密碼必須包含至少一個大寫字母</li>
        <li id="rule-lower"><span class="status"></span>密碼必須包含至少一個小寫字母</li>
        <li id="rule-number"><span class="status"></span>密碼必須包含至少一個數字</li>
    </ul>
</div>

<script type="text/javascript">
    document.getElementById("save-important-button").addEventListener('click', () => {
        this.disabled = true;
        showSpinner();
        const successMessageElement = document.getElementById('successMessage');
        const successMessage = successMessageElement ? successMessageElement.dataset.success : null;
        if (successMessage) {
            hideSpinner();
            setTimeout(() => {
                window.location.href = '/logout';
            }, 3000);
        }else {
            hideSpinner();
        }
    });
    document.getElementById("save-base-button").addEventListener('click', () => {
        this.disabled = true;
        showSpinner();
        const successMessageElement = document.getElementById('successMessage');
        const successMessage = successMessageElement ? successMessageElement.dataset.success : null;
        if (successMessage) {
            hideSpinner();
        }else {
            hideSpinner();
        }
    });




    document.getElementById("password").addEventListener("input", function(e) {
        const value = e.target.value;

        updateStatus(document.getElementById("rule-upper"), /[A-Z]/.test(value));
        updateStatus(document.getElementById("rule-lower"), /[a-z]/.test(value));
        updateStatus(document.getElementById("rule-number"), /[0-9]/.test(value));
        updateStatus(document.getElementById("rule-length"), value.length >= 8);
    });

    function updateStatus(element, isValid) {
        const statusElement = element.querySelector('.status');
        if (isValid) {
            statusElement.className = "status correct";
            element.style.color = 'green';
        } else {
            statusElement.className = "status incorrect";
            element.style.color = 'red';
        }
    }


    let passwordCard = document.getElementById('password-rule');
    document.getElementById("important-tab").addEventListener('click', function () {
        passwordCard.style.display = 'block';
    });
    document.getElementById("basic-tab").addEventListener('click', function () {
        passwordCard.style.display = 'none';
    });



    document.getElementById("save-button").addEventListener('click', () => {
        showSpinner();
        this.disabled = true;
    });

    function showSpinner() {
        document.getElementById('loading-spinner').style.display = 'flex';
    }
    function hideSpinner() {
        document.getElementById('loading-spinner').style.display = 'none';
    }
</script>


<div id="loading-spinner" class="loading-spinner-container">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>