<!DOCTYPE html>
<html lang="zh" th:with="userLoggedIn=${session.currentUsername != null}">
<head>
    <meta charset="UTF-8">
    <title>更新資料</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 400px;
            margin-top: 50px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .form-control {
            width: 100%;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    <div th:if="${!session.currentUserEmailStatus}">
        <h1>更新個人資料  (未驗證信箱)</h1>
    </div>
    <div th:if="${session.currentUserEmailStatus}">
        <h1>更新個人資料  (已驗證信箱)</h1>
    </div>

<form th:action="@{/profile}" th:object="${user}" method="post">
    <div class="form-group">
        <label for="originPassword">原本密碼</label>
        <input type="password" class="form-control" id="originPassword" name="originPassword" required>
    </div>
    <div class="form-group">
        <label for="password">更新密碼</label>
        <input type="password" class="form-control" id="password" th:field="*{password}">
    </div>
    <div class="form-group">
        <label for="confirmPassword">重複更新密碼</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" th:field="*{email}">
    </div>

    <div class="form-group">
        <label for="birthdate">生日</label>
        <input type="date" class="form-control" id="birthdate" th:field="*{birthdate}" >
    </div>

    <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>
    <div th:if="${success}">
        <div th:attr="data-success=${success}" class="alert alert-success" role="alert" id="successMessage">
            <span th:text="${success}"></span>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">更新後登出</button>
    <a href="/" class="btn btn-secondary">回到首頁</a>

</form>
</div>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const successMessageElement = document.getElementById('successMessage');
        const successMessage = successMessageElement ? successMessageElement.dataset.success : null;
        if (successMessage) {
            setTimeout(() => {
                window.location.href = '/logout';
            }, 3000);
        }
    });
</script>
</body>
</html>