<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh" th:with="userLoggedIn=${session.currentUsername != null}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>搜尋</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/search.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .btn-outline-success {
            background-color: #ffbc47;
            border-color: #ffbc47;
        }
        .btn-outline-success:hover {
            color: #fff;
            background-color: #f79f0b;
            border-color: #f79f0b;
        }
        .alert {
            color: #ea1111;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


            <li class="nav-item">
                <a class="nav-link" href="/search">搜尋</a>
            </li>

            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                    <a class="dropdown-item" th:href="@{/user/{id} (id=${session.currentUserId})}">我的主頁</a>
                </div>
            </li>

            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/login">登入</a>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/register">註冊</a>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>

<div th:classappend="${not #strings.isEmpty(keyword) ? 'search-container-top' : 'search-container-center'}" class="search-container">
    <form th:action="@{/search}" method="get" class="search-form">
        <input class="form-control search-input" type="text" placeholder="輸入搜索關鍵字..." aria-label="搜索" name="keyword" th:value="${keyword}">
        <select class="form-control search-select" name="type">
            <option value="users" th:selected="${type == 'users'}">用戶</option>
            <option value="posts" th:selected="${type == 'posts' or #strings.isEmpty(type)}">文章</option>
        </select>
        <button class="btn btn-primary search-button" type="submit">搜尋</button>
    </form>
</div>

<div class="search-results-container container mt-4" th:if="${not #strings.isEmpty(keyword)}">
    <h2 class="search-results-heading">搜尋結果</h2>
    <div th:if="${type == 'users'}">
        <div class="list-group">
            <th:block th:if="${usersPage != null and usersPage.totalElements > 0}" th:each="user : ${usersPage.content}">
                <a class="list-group-item list-group-item-action" th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">
                    使用者名稱
                </a>
            </th:block>
        </div>
        <p th:if="${usersPage == null or usersPage.totalElements == 0}" class="alert alert-warning">未找到相關用戶。</p>
    </div>

    <div th:if="${type == 'posts'}">
        <div class="list-group">
            <th:block th:if="${postsPage != null and postsPage.totalElements > 0}" th:each="post : ${postsPage.content}">
                <a class="list-group-item list-group-item-action search-article-item" th:href="@{/article/{id}(id=${post.articleId})}">
                    <div class="search-article-title" th:text="${post.title.length() > 50 ? #strings.substring(post.title, 0, 50) + '...' : post.title}">
                        文章標題
                    </div>
                    <div class="search-article-author">
                        作者: <span th:text="${post.author.username}">作者名稱</span>
                    </div>
                </a>
            </th:block>
        </div>
        <p th:if="${postsPage == null or postsPage.totalElements == 0}" class="alert alert-warning">未找到相關文章。</p>
    </div>

    <div class="mt-4" th:if="${usersPage != null and usersPage.getTotalElements > 0}">
        <nav aria-label="用戶搜尋分頁">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${page == 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/search(keyword=${keyword}, type='users', page=${page - 1})}" th:if="${page > 1}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${page == i} ? 'active disabled' : ''">
                    <a class="page-link" th:href="@{/search(keyword=${keyword}, type='users', page=${i})}" th:text="${i}">1</a>
                </li>

                <li class="page-item" th:classappend="${page == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/search(keyword=${keyword}, type='users', page=${page + 1})}" th:if="${page < totalPages}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mt-4" th:if="${postsPage != null and postsPage.totalElements > 0}">
        <nav aria-label="文章搜尋分頁">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${page == 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/search(keyword=${keyword}, type='posts', page=${page - 1})}" th:if="${page > 1}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${page == i} ? 'active disabled' : ''">
                    <a class="page-link" th:href="@{/search(keyword=${keyword}, type='posts', page=${i})}" th:text="${i}">1</a>
                </li>

                <li class="page-item" th:classappend="${page == totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/search(keyword=${keyword}, type='posts', page=${page + 1})}" th:if="${page < totalPages}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


</body>
</html>
