<!DOCTYPE html>
<html lang="zh" th:with="userLoggedIn=${session.currentUsername != null}">
<head>
    <meta charset="UTF-8">
    <title>用戶主頁</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/user_detail.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">我的Blog Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search">搜尋</a>
            </li>
            <li class="nav-item dropdown" th:if="${userLoggedIn}">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    歡迎 [[${session.currentUsername}]]!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/profile">更新資料</a>
                    <a class="dropdown-item" href="/new_article">新增文章</a>
                    <a class="dropdown-item" th:href="@{/user/{id} (id=${session.currentUserId})}">我的主頁</a>
                </div>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/login">登入</a>
            </li>
            <li class="nav-item" th:if="${!userLoggedIn}">
                <a class="nav-link" href="/register">註冊</a>
            </li>
            <li class="nav-item" th:if="${userLoggedIn}">
                <a class="nav-link" href="/logout">登出</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title" th:text="${user.getUsername()}">用戶名稱</h1>
            <br>
            <p class="card-subtitle mb-2 text-muted" th:text="|用戶ID: ${user.getId()} |">用戶ID</p>
            <p class="card-subtitle mb-2 text-muted" th:text="|電子信箱: ${user.getEmail()} |">電子信箱
                <a class="card-subtitle mb-2 text-muted" th:if="${user.getEmailActiveStatus()}">
                    <a th:text="${user.getEmailActiveStatus()}">(信箱已驗證)</a>
                </a>
                <a class="card-subtitle mb-2 text-muted" th:if="${!user.getEmailActiveStatus()}">
                    <a th:text="${user.getEmailActiveStatus()}">(信箱未驗證)</a>
                </a>
            </p>
            <p class="card-subtitle mb-2 text-muted" th:text="|用戶註冊時間: ${user.getRegister_time()} |">用戶註冊時間</p>

            <!--<p class="card-subtitle mb-2 text-muted" th:text="|用戶最後登入時間: ${user.getLastLoginTime()} |">用戶最後登入時間</p> -->
        </div>
    </div>
</div>

<div class="search-results" th:if="${postPage != null}">
    <h2>用戶文章</h2>
    <ul th:each="post : ${postPage.content}">
        <a th:text="${post.title.length() > 40 ? #strings.substring(post.title, 0, 40) + '...' : post.title}" th:href="@{/article/{id}(id=${post.articleId})}">文章標題</a>
    </ul>
</div>

<div class="mt-4" th:if="${postPage != null and postPage.totalElements > 0}">
    <nav aria-label="用戶文章分頁" th:if="${totalPages > 1}" class="mt-4 fixed-bottom-nav ">
        <ul class="pagination justify-content-center">
            <!-- 跳至首頁 -->
            <li class="page-item" th:classappend="${pageNum == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/user/{id}(id=${user.getId()}, page=0)}" aria-label="First" th:if="${pageNum > 1}">
                    <span aria-hidden="true">««</span>
                </a>
            </li>

            <!-- 前一頁 -->
            <li class="page-item" th:classappend="${pageNum == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/user/{id}(id=${user.getId()},page=${pageNum - 1})}" aria-label="Previous" th:if="${pageNum > 1}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- 分頁號碼 -->
            <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:class="page-item"
                th:classappend="${pageNum eq i} ? 'active'"
                th:if="${(totalPages le 10) or (i ge (pageNum - 4) and i le (pageNum + 5)) or (totalPages - pageNum lt 5 and i gt totalPages - 10)}"
            >
                <a class="page-link" th:href="@{/user/{id} (id=${user.getId()}, page=${i})}" th:text="${i}">1</a>
            </li>

            <li class="page-item" th:classappend="${pageNum == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/user/{id}(id=${user.getId()},page=${pageNum + 1})}" aria-label="Next" th:if="${pageNum < totalPages}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

            <!-- 跳至尾頁 -->
            <li class="page-item" th:classappend="${pageNum == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/user/{id}(id=${user.getId()},page=${totalPages})}" aria-label="Last" th:if="${page < totalPages}">
                    <span aria-hidden="true">»»</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


</body>
</html>